* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Roboto", sans-serif
}

#root {
  height: 100%;
  background: rgb(9,6,33);
}

#wallpaper {
  background-image: url("../assets/wallpaper.jpg");
  background-repeat: no-repeat; 
  background-size: 100%; 
  width: 100%;
  height: 100%; 
}

#app {
  width: 50%;
  height: 100vh;
  overflow: auto; 
  text-align: center;
}

#header {
  padding: 30px;
}

#search-bar {
  width: 90%;
  box-shadow: 1px 1px 8px white;
  border: none;
  padding: 5px;
  color: rgb(9,6,33);
  font-size: 20px; 
}

#search-bar::placeholder {
  color: rgb(9,6,33)
}